form {
	input {
		max-width: 500px;
	}
	fieldset {
		max-width: max-content;
		div {
			display: flex;
			align-items: center;
			border: 1px;
			margin-inline: 2px;
			padding-block: 0.35em 0.625em;
			padding-inline: 0.75em;
			border: 2px groove ThreeDFace;
			min-inline-size: min-content;
			img {
				margin: 5px;
				width: 50px;
				height: 50px;
			}
		}
	}
}